body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}

.home {
  text-align: center;
  padding: 50px;
}

.home h1 {
  color: #00796b;
}

.card-button {
  background-color: #00796b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #004d40;
}

.button {
  max-width: 200px;
  border: 20px solid #e9810a;
  box-shadow: 0 4px 4px rgba(78, 240, 57, 0.89);
  padding: 10px;
  }